{% extends "flatpages/default.html" %}

{% block title %}
    Страница авторизации пользователя
{% endblock title %}

{% block content %}
    <h1>Войти в систему</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table align='center'>
            <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
                <input type="submit" value="Войти">
        <a href="{% url 'signup' %}" class="btn btn-secondary">Регистрация</a>
        </form>
{% endblock content %}