{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
	News
{% endblock title %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <td>Заголовок</td>
            <td>{{ post.title|censor }}</td>
        </tr>
        <tr>
            <td>Дата публикации</td>
            <td>{{ post.date_created|date:"d.m.Y" }}</td>
        </tr>
        <tr>
            <td>Содержание</td>
            <td>{{ post.content|censor }}</td>
        </tr>
        <tr>
            <td>Тип поста</td>
            <td>{{ post.get_type_post_display }}</td>
        </tr>
    </table>
    <hr>
{% if is_not_subscribed %}
    <form method="post" action="{% url 'category_subscribe' category.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Подписаться на новости категории</button>
    </form>
{% endif %}
{% endblock content %}